In [278]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [279]:
df=pd.read_csv('Telco_Churn.csv')

In [280]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [281]:
df.columns=df.columns.str.lower()

categoric=list(df.dtypes[df.dtypes==object].index)

for c in categoric:
    df[c]=df[c].str.lower().replace(' ','_')

In [282]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no phone service,no,no,no phone service,no
internetservice,dsl,dsl,dsl,dsl,fiber optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one year,month-to-month,one year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic check,mailed check,mailed check,bank transfer (automatic),electronic check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [283]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [284]:
df.totalcharges=pd.to_numeric(df['totalcharges'], errors='coerce')

In [285]:
df.totalcharges=df.totalcharges.fillna(0)

In [286]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                object
dtype: object

In [287]:
df.churn=(df.churn=='yes').astype(int)

In [288]:
df.churn

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int32

In [289]:
from sklearn.model_selection import train_test_split

In [290]:
df_full_train,df_test=train_test_split(df,test_size=0.2,random_state=1)

In [291]:
len(df_full_train), len(df_test)

(5634, 1409)

In [292]:
df_train,df_val=train_test_split(df_full_train,test_size=0.25,random_state=1)

In [293]:
len(df_train),len(df_val),len(df_test)

(4225, 1409, 1409)

In [294]:
df_train=df_train.reset_index(drop=True)
df_val=df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)

In [295]:
y_train=df_train.churn.values
y_val=df_val.churn.values
y_test=df_test.churn.values

In [296]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

In [297]:
df_full_train.churn.value_counts(normalize=True)

0    0.730032
1    0.269968
Name: churn, dtype: float64

In [298]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int32
dtype: object

In [299]:
numeric=['tenure','monthlycharges','totalcharges']
categoric=['gender', 'seniorcitizen', 'partner', 'dependents', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [300]:
df_full_train[categoric]

,gender,seniorcitizen,partner,dependents,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod
1814,male,0,yes,yes,yes,no,no,no internet service,no internet service,no internet service,no internet service,no internet service,no internet service,two year,no,mailed check
5946,female,0,no,no,yes,no,dsl,yes,yes,yes,yes,no,yes,one year,no,credit card (automatic)
3881,male,0,yes,no,yes,yes,dsl,yes,yes,no,yes,no,no,two year,no,bank transfer (automatic)
2389,male,0,yes,yes,yes,yes,dsl,yes,no,yes,yes,yes,yes,one year,no,electronic check
3676,male,0,no,no,yes,no,dsl,yes,yes,no,yes,yes,no,one year,no,electronic check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,male,1,no,no,yes,yes,fiber optic,no,no,yes,no,yes,yes,month-to-month,yes,electronic check
5192,male,0,no,yes,yes,no,no,no internet service,no internet service,no internet service,no internet service,no internet service,no internet service,two year,no,mailed check
3980,male,0,no,no,yes,yes,fiber optic,no,yes,yes,no,yes,yes,month-to-month,yes,electronic check
235,male,0,no,no,yes,yes,dsl,no,yes,no,no,no,no,month-to-month,yes,mailed check
5157,female,0,yes,yes,yes,no,dsl,yes,yes,no,yes,no,yes,two year,no,bank transfer (automatic)

In [301]:
global_churn=df_full_train.churn.mean()
global_churn

0.26996805111821087

In [302]:
from IPython.display import display
for c in categoric:
    print(c)
    df_group=df_full_train.groupby(c).churn.agg(['mean','count'])
    df_group['diff']=df_group['mean']-global_churn
    df_group['risk']=df_group['mean']/global_churn
    display(df_group)
    print()
    print()

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027698  0.897403
1              0.413377    912  0.143409  1.531208

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059841  1.221659
yes      0.205033   2702 -0.064935  0.759472

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043792  1.162212
yes         0.165666   1666 -0.104302  0.613651

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028652  0.893870
yes           0.273049   5087  0.003081  1.011412

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012561  0.953474
no phone service  0.241316    547 -0.028652  0.893870
yes               0.290742   2387  0.020773  1.076948

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077621  0.712482
fiber optic      0.425171   2479  0.155203  1.574895
no               0.077805   1221 -0.192163  0.288201

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150953  1.559152
no internet service  0.077805   1221 -0.192163  0.288201
yes                  0.153226   1612 -0.116742  0.567570

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134355  1.497672
no internet service  0.077805   1221 -0.192163  0.288201
yes                  0.217232   1915 -0.052736  0.804660

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125907  1.466379
no internet service  0.077805   1221 -0.192163  0.288201
yes                  0.230412   1940 -0.039556  0.853480

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148946  1.551717
no internet service  0.077805   1221 -0.192163  0.288201
yes                  0.159926   1632 -0.110042  0.592390

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072864  1.269897
no internet service  0.077805   1221 -0.192163  0.288201
yes                  0.302723   2167  0.032755  1.121328

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068938  1.255358
no internet service  0.077805   1221 -0.192163  0.288201
yes                  0.307273   2200  0.037305  1.138182

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161733  1.599082
one year        0.120573   1186 -0.149395  0.446621
two year        0.028274   1344 -0.241694  0.104730

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097897  0.637375
yes               0.338151   3321  0.068183  1.252560

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank transfer (automatic)  0.168171   1219 -0.101797  0.622928
credit card (automatic)    0.164339   1217 -0.105630  0.608733
electronic check           0.455890   1893  0.185922  1.688682
mailed check               0.193870   1305 -0.076098  0.718121

In [386]:
from sklearn.metrics import mutual_info_score
mutual_info_score(df_full_train.contract,df_full_train.churn)

0.0983203874041556

In [387]:
mutual_score=[]
for c in categoric:
    mutual_score.append(mutual_info_score(df_full_train[c],df_full_train.churn))

my_dict={}
for c in range(len(categoric)):
    my_dict[categoric[c]]=mutual_score[c]

In [388]:
my_dict

{'gender': 0.0001174846211139946,
 'seniorcitizen': 0.009410216144208144,
 'partner': 0.009967689095399745,
 'dependents': 0.012345815445534689,
 'phoneservice': 0.00022871269738296285,
 'multiplelines': 0.0008574478744731856,
 'internetservice': 0.055867945893496467,
 'onlinesecurity': 0.06308524972985574,
 'onlinebackup': 0.0469234640537918,
 'deviceprotection': 0.04345286925268559,
 'techsupport': 0.06103245991777444,
 'streamingtv': 0.03185333110086085,
 'streamingmovies': 0.03158089669519908,
 'contract': 0.0983203874041556,
 'paperlessbilling': 0.01758882715925275,
 'paymentmethod': 0.043210027531582915}

In [389]:
data={'feature':categoric,'mutual_info_score':mutual_score}
dp=pd.DataFrame.from_dict(data)

In [390]:
dp.sort_values(by='mutual_info_score',ascending=False)

             feature  mutual_info_score
13          contract           0.098320
7     onlinesecurity           0.063085
10       techsupport           0.061032
6    internetservice           0.055868
8       onlinebackup           0.046923
9   deviceprotection           0.043453
15     paymentmethod           0.043210
11       streamingtv           0.031853
12   streamingmovies           0.031581
14  paperlessbilling           0.017589
3         dependents           0.012346
2            partner           0.009968
1      seniorcitizen           0.009410
5      multiplelines           0.000857
4       phoneservice           0.000229
0             gender           0.000117

In [391]:
df_full_train[numeric].corrwith(df_full_train.churn).abs()

tenure            0.351885
monthlycharges    0.196805
totalcharges      0.196353
dtype: float64

In [392]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False)

train_dict = df_train[categoric + numeric].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categoric + numeric].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [393]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression(solver='lbfgs')
model.fit(X_train,y_train)

LogisticRegression()

In [394]:
y_pred = model.predict_proba(X_val)[:, 1]
y_pred

array([0.00899706, 0.20452336, 0.2122212 , ..., 0.1363908 , 0.79976585,
       0.83740346])

In [395]:
churn_decision=(y_pred>=0.5)

In [396]:
(y_val==churn_decision).mean()

0.8034066713981547

In [397]:
df_pred=pd.DataFrame()
df_pred['probability']=y_pred
df_pred['prediction']=churn_decision.astype(int)
df_pred['actual']=y_val
df_pred['correct']=df_pred['prediction']==df_pred['actual']

In [398]:
df_pred

      probability  prediction  actual  correct
0        0.008997           0       0     True
1        0.204523           0       0     True
2        0.212221           0       0     True
3        0.543041           1       1     True
4        0.213783           0       0     True
...           ...         ...     ...      ...
1404     0.313680           0       0     True
1405     0.039360           0       1    False
1406     0.136391           0       0     True
1407     0.799766           1       1     True
1408     0.837403           1       1     True

[1409 rows x 4 columns]

In [399]:
model.coef_

array([[ 4.74741786e-01, -1.74870493e-01, -4.07550721e-01,
        -2.96927841e-02, -7.79866437e-02,  6.26817769e-02,
        -8.89729624e-02, -8.13882423e-02, -3.43102901e-02,
        -7.33691376e-02, -3.35208347e-01,  3.16501881e-01,
        -8.89729624e-02,  3.67463182e-03, -2.58135128e-01,
         1.41445523e-01,  9.01017747e-03,  6.25294084e-02,
        -8.89729624e-02, -8.12358738e-02,  2.65581511e-01,
        -8.89729624e-02, -2.84287976e-01, -2.31196913e-01,
         1.23517485e-01, -1.66027855e-01,  5.83484277e-02,
        -8.70079609e-02, -3.20556169e-02,  7.04761949e-02,
        -5.90920447e-02,  1.41445523e-01, -2.49124950e-01,
         2.15472749e-01, -1.20366217e-01, -8.89729624e-02,
         1.01659752e-01, -7.08948268e-02, -8.89729624e-02,
         5.21883614e-02,  2.13373263e-01, -8.89729624e-02,
        -2.32079728e-01, -7.04061737e-02,  3.82380593e-04]])

In [400]:
model.intercept_[0]

-0.10903450414950354

In [403]:
dict(zip(dv.get_feature_names(), model.coef_[0].round(3)))

{'contract=month-to-month': 0.475,
 'contract=one year': -0.175,
 'contract=two year': -0.408,
 'dependents=no': -0.03,
 'dependents=yes': -0.078,
 'deviceprotection=no': 0.063,
 'deviceprotection=no internet service': -0.089,
 'deviceprotection=yes': -0.081,
 'gender=female': -0.034,
 'gender=male': -0.073,
 'internetservice=dsl': -0.335,
 'internetservice=fiber optic': 0.317,
 'internetservice=no': -0.089,
 'monthlycharges': 0.004,
 'multiplelines=no': -0.258,
 'multiplelines=no phone service': 0.141,
 'multiplelines=yes': 0.009,
 'onlinebackup=no': 0.063,
 'onlinebackup=no internet service': -0.089,
 'onlinebackup=yes': -0.081,
 'onlinesecurity=no': 0.266,
 'onlinesecurity=no internet service': -0.089,
 'onlinesecurity=yes': -0.284,
 'paperlessbilling=no': -0.231,
 'paperlessbilling=yes': 0.124,
 'partner=no': -0.166,
 'partner=yes': 0.058,
 'paymentmethod=bank transfer (automatic)': -0.087,
 'paymentmethod=credit card (automatic)': -0.032,
 'paymentmethod=electronic check': 0.07,
 'paymentmethod=mailed check': -0.059,
 'phoneservice=no': 0.141,
 'phoneservice=yes': -0.249,
 'seniorcitizen': 0.215,
 'streamingmovies=no': -0.12,
 'streamingmovies=no internet service': -0.089,
 'streamingmovies=yes': 0.102,
 'streamingtv=no': -0.071,
 'streamingtv=no internet service': -0.089,
 'streamingtv=yes': 0.052,
 'techsupport=no': 0.213,
 'techsupport=no internet service': -0.089,
 'techsupport=yes': -0.232,
 'tenure': -0.07,
 'totalcharges': 0.0}

In [404]:
small=['contract','tenure','monthlycharges',]

In [405]:
df_train[small].iloc[:10].to_dict(orient='records')

[{'contract': 'two year', 'tenure': 72, 'monthlycharges': 115.5},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 95.25},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 75.55},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 80.85},
 {'contract': 'two year', 'tenure': 18, 'monthlycharges': 20.1},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 30.5},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 75.1},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 70.3},
 {'contract': 'two year', 'tenure': 72, 'monthlycharges': 19.75},
 {'contract': 'month-to-month', 'tenure': 6, 'monthlycharges': 109.9}]

In [406]:
dicts_train_small = df_train[small].to_dict(orient='records')
dicts_val_small = df_val[small].to_dict(orient='records')

In [407]:
dv_small = DictVectorizer(sparse=False)
dv_small.fit(dicts_train_small)

DictVectorizer(sparse=False)

In [408]:
dv_small.get_feature_names()

['contract=month-to-month',
 'contract=one year',
 'contract=two year',
 'monthlycharges',
 'tenure']

In [409]:
X_train_small = dv_small.transform(dicts_train_small)

In [410]:
model_small = LogisticRegression(solver='lbfgs')
model_small.fit(X_train_small, y_train)

LogisticRegression()

In [411]:
w0 = model_small.intercept_[0]
w0

-2.4767756622703945

In [412]:

w = model_small.coef_[0]
w.round(3)

array([ 0.97 , -0.025, -0.949,  0.027, -0.036])

In [413]:
dict(zip(dv_small.get_feature_names(), w.round(3)))

{'contract=month-to-month': 0.97,
 'contract=one year': -0.025,
 'contract=two year': -0.949,
 'monthlycharges': 0.027,
 'tenure': -0.036}